html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

/* .el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
} */

.el-scrollbar__wrap {
  overflow-x: hidden !important;
}

.el-select-dropdown__list {
  padding-bottom: 20px !important;
}

.el-page-header__content {
  font-size: 14px !important ;
}

.el-page-header__title {
  color: #409eff !important;
}

.el-page-header {
  margin-bottom: 20px !important;
}
